

$yellow: #FFD233;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.mainvisual {
  margin-bottom: 180px;
  position: relative;
  &_inner {
    width: 90%;
    margin: 0 auto 80px;
    max-width: 1100px;
  }
  .title {
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 300px;
    span {
      font-size: 5.625rem;
      letter-spacing: 0.05em;
      line-height: 1.25;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
    }
  }
  &::before {
    content: '';
    display: block;
    width: 1261px;
    height: 1261px;
    position: absolute;
    background-color: #F1EFF3;
    border-radius: 1261px;
    right: -600px;
    top: 200px;
  }
  &::after {
    content: '';
    display: block;
    width: 661px;
    height: 661px;
    position: absolute;
    background-color: #F1EFF3;
    border-radius: 661px;
    left: -260px;
    top: 1380px;
  }
}

.section {
  &_title {
    color: $yellow;
    font-size: 5rem;
    letter-spacing: 0.1em;
    margin: 60px 0;
    font-family: 'Roboto', sans-serif;
    line-height: 0.3;
    span {
      font-size: 0.875rem;
      color: #7FD2CD;
      letter-spacing: 0.08em;
      position: relative;
      display: inline-block;
      padding-left: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 140px;
        height: 1px;
        background-color: #7FD2CD;
        left: 105%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &_text {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    margin: 60px 0 30px;
  }

  &_text_detail {
    font-size: 1rem;
    letter-spacing: 0.1em;
    max-width: 590px;
    line-height: 1.8;
  }
}

.theme {
  width: 90%;
  margin: 0 auto 180px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.skill {
  width: 90%;
  margin: 0 auto 180px;
  max-width: 1100px;
  position: relative;
  z-index: 1;
  &_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    &_item {
      background-color: $yellow;
      width: 190px;
      height: 190px;
      vertical-align: 20px;
      border-radius: 190px;
      text-align: center;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 190px;
      margin: 20px 25px;
      letter-spacing: 0.15em;
    }
  }
  &_title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto 20px;
    letter-spacing: 0.1em;
  }
}

.works {
  text-align: center;
  width: 90%;
  margin: 0 auto 180px;
  max-width: 1100px;
  position: relative;
  z-index: 1;
  &_list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    &_item {
      width: 280px;
      height: 300px;
      background-color: rgb(210, 210, 210);
      border-radius: 40px;
      margin: 20px;
      position: relative;
      overflow: hidden;
      transition: 0.2s ease-in;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 380px;
        transition: 0.2s ease-in;
      }
      &_title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-weight: 600;
        font-size: 1.5rem;
        color: #fff;
        letter-spacing: 0.1em;
        transition: 0.2s ease-in;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color:hsla(48,100%,76%,0.7);
background-image:
radial-gradient(at 80% 100%, hsla(51,100%,70%,0.7) 0px, transparent 50%),
radial-gradient(at 4% 7%, hsla(162,100%,76%,0.7) 0px, transparent 50%);
        margin: 0;
        line-height: 300px;
      }
      &:hover {
        transition: 0.2s ease-in;
        box-shadow: 0px 0px 15px -5px #777777;
        .works_list_item_title {
          opacity: 1;
          transition: 0.2s ease-in;
        }
        img {
          width: 400px;
          transition: 0.2s ease-in;
        }
      }
    }
  }
}

.history {
  width: 90%;
  margin: 0 auto 180px;
  max-width: 650px;
  position: relative;
  z-index: 1;
  &_title {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto 60px;
    letter-spacing: 0.1em;
  }
  &_list {
    list-style: none;
    padding: 0;
    letter-spacing: 0.08em;
    font-weight: 600;
    li {
      margin-bottom: 15px;
    }
    span {
      display: inline-block;
      width: 200px;
    }
  }
}

.footer {
  background-color: $yellow;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

